<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mydialog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".assistive.AssistiveTouchActivity" />
        <activity android:name=".popu.PopuActivity" />
        <activity android:name=".spiner.SpinnerActivity" />
        <activity android:name=".satellite.SatelliteMenuActivity" />
        <activity android:name=".bottonSatellite.BottomStatelliteMenuActivity" />
        <activity android:name=".lockPattern.LockPatternActivity" />
        <activity android:name=".remark.RemarkActivity"/>
        <activity android:name=".calender.CalenderActivity" />
        <activity android:name=".music.MusicActivity"/>
        <activity android:name=".groupdialog.ViewGroupDialogActivity" />
    </application>

</manifest>